.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background-color: var(--color-white);
  border-radius: var(--radius);
  width: clamp(200px, calc(600 * 100vw / var(--base-viewport-size)), 600px);
  height: 55vh;

  padding: 20px;
}

