.input {
  --lineHeightRatio: var(--text-16px--line-height-ratio);
  --minFontSize: 14px;
  --maxFontSize: 20px;
  --recommendFontSize: 16;

  --borderColor: var(--color-gray);
  --shadowColor: var(--color-gray);
  --focusShadowColor: var(--color-gray);

  width: 100%;
  padding-block: 4px;
  padding-inline: 8px;
  border-radius: var(--radius);
  border: 1px solid var(--borderColor);
  color: var(--input-text-color);
  background-color: var(--input-background);

  transition: var(--base-transition);

  &:hover {
    box-shadow: 0 0 5px var(--shadowColor);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focusShadowColor);
  }

  &::placeholder {
    color: var(--input-text-color);
  }
}

.input--cyan {
  --borderColor: var(--input-border-color-cyan);
  --shadowColor: var(--input-shadow-color-cyan);
  --focusShadowColor: var(--input-focus-shadow-color-cyan);
}

.input--pink {
  --borderColor: var(--input-border-color-pink);
  --shadowColor: var(--input-shadow-color-pink);
  --focusShadowColor: var(--input-focus-shadow-color-pink);
}

.input--cyan-disabled,
.input--pink-disabled {
  --shadowColor: transparent;
  background-color: var(--input-disabled-background);
  color: var(--input-disabled-text-color);
}

.input--cyan-disabled {
  --borderColor: var(--input-border-color-cyan);
}

.input--pink-disabled {
  --borderColor: var(--input-border-color-pink);
}
