.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 40px;
}

.game-field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.waiting-text {
  font-size: 24px;
  background: linear-gradient(90deg, #333, #3498db, #333);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientWave 3s linear infinite, bounce 2s ease-in-out infinite;
}

@keyframes gradientWave {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.waiting-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin: 0 auto;

  .text {
    background: linear-gradient(90deg, rgb(112, 112, 112), #ff3c00, black);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientWave 3s linear infinite, bounce 2s ease-in-out infinite;
  }
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  position: relative;
  background: black;
  box-shadow: -14px 0 black, 14px 0 black;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: black;
    box-shadow: -14px 0 #ff3d00, 14px 0 black;
  }
  66% {
    background: #ff3d00;
    box-shadow: -14px 0 black, 14px 0 black;
  }
  100% {
    background: black;
    box-shadow: -14px 0 black, 14px 0 #ff3d00;
  }
}
