:root {
  --color-cyan-50: oklch(97.692% 0.01164 197.493);
  --color-cyan-100: oklch(95.6% 0.045 203.388);
  --color-cyan-300: oklch(86.5% 0.127 207.078);
  --color-cyan-400: oklch(78.9% 0.154 211.53);
  --color-cyan-500: oklch(71.5% 0.143 215.221);
  --color-cyan-600: oklch(60.9% 0.126 221.723);
  --color-cyan-700: oklch(52% 0.105 223.128);
  --color-cyan-800: oklch(42.1% 0.078 223.996);
  --color-pink-50: oklch(100% 0.00011 271.152);
  --color-pink-300: oklch(82.3% 0.12 346.018);
  --color-pink-400: oklch(71.8% 0.202 349.761);
  --color-pink-500: oklch(65.6% 0.241 354.308);
  --color-pink-600: oklch(59.2% 0.249 0.584);
  --color-pink-700: oklch(52.5% 0.223 3.958);
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-300: oklch(77.4% 0.046 257.417);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --cornflower-blue-50: oklch(95.7% 0.015 266.2784);
  --cornflower-blue-100: oklch(89.3% 0.042 266.311);
  --cornflower-blue-200: oklch(79.4% 0.084 264.24);
  --cornflower-blue-300: oklch(70.7% 0.124 259.52);
  --cornflower-blue-400: oklch(62.4% 0.148 255.716);
  --cornflower-blue-500: oklch(57% 0.136 255.716);
  --cornflower-blue-600: oklch(49.8% 0.119 255.919);
  --cornflower-blue-700: oklch(41.5% 0.1 255.921);
  --cornflower-blue-800: oklch(32.8% 0.078 255.985);
  --cornflower-blue-900: oklch(23% 0.054 256.182);
  --cornflower-blue-950: oklch(17.6% 0.042 255.089);
  --color-black: #000;
  --color-white: #fff;
  --color-gray: oklch(68.949% 0.00008 271.152);

  --hover-color-pink-300: oklch(82.3% 0.12 346.018 / 0.4);
  --hover-color-cyan-300: oklch(86.5% 0.127 207.078 / 0.4);
  --hover-color-cyan-200: oklch(86.5% 0.127 207.078 / 0.2);
  --hover-color-pink-200: oklch(82.3% 0.12 346.018 / 0.2);
  --btn-hover-color-cyan: oklch(46.497% 0.0875 224.977);
  --btn-hover-color-pink: oklch(48.926% 0.19673 4.575);

  --color-cyan-600-rgb: rgb(0, 146, 184);
  --color-pink-600-rgb: rgb(230, 0, 118);
  --color-cyan-700-rgb: rgb(3, 86, 109);
  --color-pink-700-rgb: rgb(198, 0, 91);

  --color-red-dark: oklch(0.334 0.133 28.586);
  --color-red: oklch(0.49 0.2 29);

  --color-green-dark: oklch(0.32 0.11 142.49);
  --color-green: oklch(0.51 0.17685 142.511);
  --color-green-light: oklch(0.83 0.07448 144.93);

  --color-error: rgb(219, 0, 0);

  --panel-background: oklch(0.5 0.09372 232.208 / 0.195);
  --panel-border-color: rgba(3, 97, 132, 0.195);

  --glass-background: rgba(255, 255, 255, 0.5);
  --glass-background-light: rgba(255, 255, 255, 0.2);

  --radius: 0.5rem;
  --cell-size: 20px;

  --main-box-shadow: 0 0 50px oklch(57.4% 0.108 225.597 / 0.777);

  --font-orbitron: "Orbitron", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-exo-2: "Exo 2", monospace;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --base-transition: all 0.5s ease;

  --spacing: 0.25rem;
  --base-viewport-size: 1520;

  /* Желаемый line-height для размера шрифта */
  --text-12px--line-height-ratio: 1rem;
  --text-14px--line-height-ratio: 1.25rem;
  --text-16px--line-height-ratio: 1.5rem;
  --text-18px--line-height-ratio: 1.75rem;
  --text-30px--line-height-ratio: 2.25rem;

  --piece-size: clamp(75px, calc(120 * 100vw / var(--base-viewport-size)), 140px);
  --target-card-size: clamp(60px, calc(120 * 100vw / var(--base-viewport-size)), 140px);
}

[data-theme="light"] {
  --background-main: var(--color-slate-50);
  --background-cell-color: oklch(52% 0.105 223.128 / 0.07);
  --start-modal-background: var(--color-white);
  --start-modal-border-color: var(--color-cyan-600);
  --start-title-color: var(--color-slate-800);
  --tabs-background: var(--color-slate-50);
  --tabs-border-color: var(--color-cyan-600);
  --tab-text-color-cyan: var(--color-cyan-700);
  --tab-text-color-pink: var(--color-pink-700);
  --tab-text-hover-color-cyan: var(--hover-color-cyan-300);
  --tab-text-hover-color-pink: var(--hover-color-pink-300);
  --tab-active-text-color-cyan: var(--color-white);
  --tab-active-text-color-pink: var(--color-white);
  --tab-active-background-cyan: var(--color-cyan-600);
  --tab-active-background-color-pink: var(--color-pink-600);
  --form-title-color: var(--color-black);
  --form-section-title-color: var(--color-slate-600);
  --form-message-cyan: var(--color-cyan-700);
  --form-message-pink: var(--color-pink-700);
  --input-label-color: var(--color-black);
  --input-text-color: var(--color-slate-800);
  --input-border-color-cyan: var(--color-cyan-600);
  --input-shadow-color-cyan: var(--btn-hover-color-cyan);
  --input-focus-shadow-color-cyan: var(--color-cyan-500);
  --input-border-color-pink: var(--color-pink-700);
  --input-shadow-color-pink: var(--btn-hover-color-pink);
  --input-focus-shadow-color-pink: var(--color-pink-500);
  --input-disabled-background: var(--color-slate-100);
  --input-disabled-text-color: var(--color-black);
  --input-background: var(--color-white);
  --button-background-cyan: var(--color-cyan-700);
  --button-hover-background-gradient-start-cyan: var(--color-cyan-500);
  --button-hover-background-gradient-end-cyan: var(--color-cyan-700);
  --button-hover-background-cyan: var(--btn-hover-color-cyan);
  --button-background-pink: var(--color-pink-700);
  --button-hover-background-gradient-start-pink: var(--color-pink-500);
  --button-hover-background-gradient-end-pink: var(--color-pink-700);
  --button-hover-background-pink: var(--btn-hover-color-pink);
  --form-message-base-color: var(--color-black);
  --button-default: oklch(84.264% 0.01185 252.262);
  --button-default-text-color: var(--color-white);
  --panel-text-color-default: var(--color-black);
  --panel-text-color-cyan: var(--color-cyan-700);
  --panel-text-color-pink: var(--color-pink-700);
  --card-border-color-cyan: var(--color-cyan-500);
  --card-border-color-pink: var(--color-pink-500);
  --card-shadow-color-green: var(--color-green-dark);
  --card-border-color-green: var(--color-green);
  --card-background-green: var(--color-green-light);
  --card-text-color-green: var(--color-green);
  --card-empty-border-color: var(--color-cyan-700);
  --card-empty-background: var(--color-white);
  --card-default-background: var(--color-slate-50);
  --card-default-gradient-start: oklch(95.681% 0.0335 331.677);
  --card-default-gradient-end: oklch(91.478% 0.05826 218.32);
  --card-default-before-radial-gradient: oklch(79.622% 0.13402 227.142 / 0.39);
  --card-default-after-gradient-start: oklch(30.846% 0.14053 328.332 / 0.298);
  --card-default-after-gradient-middle: oklch(90.032% 0.15309 194.815);
  --card-default-after-gradient-end: oklch(0.96 0.21094 109.783 / 0);
  --card-lock-background: oklch(55.959% 0.22712 28.978 / 0.534);
  --card-available-background: oklch(79.147% 0.17452 155.534 / 0.469);
  --modal-text-color: var(--color-black);
  --button-theme-border-color: var(--color-slate-300);
  --button-theme-background: var(--color-slate-100);
  --button-theme-icon-color: var(--color-pink-600);
  --button-closed-background-cyan: var(--color-cyan-50);
  --button-closed-icon-color-cyan: var(--color-cyan-700);
  --button-closed-hover-background-cyan: var(--color-cyan-700);
  --button-closed-shadow-color-cyan: var(--color-cyan-700);
  --button-toogle-on-background: oklch(0.38 0.15657 0.74);
  --button-toogle-on-shadow-color: var(--color-slate-700);
  --player-background-glass: var(--glass-background);
  --winner-background-glass: var(--panel-border-color);
  --winner-text-color-cyan: var(--color-cyan-700);
  --winner-text-color-pink: var(--color-pink-700);
  --icon-hacker-color: oklch(55.298% 0.24628 266.653);
  --icon-robot-color: oklch(40.743% 0.06942 196.195);
  --icon-chip-color: oklch(56.529% 0.19308 20.239);
  --icon-gun-color: oklch(57.255% 0.09653 219.577);
  --icon-hologram-color: oklch(59.828% 0.19602 143.675);
  --icon-flask-color: oklch(56.061% 0.20797 334.758);
  --icon-qr-code-color: oklch(72.214% 0.16209 64.904);
  --icon-vr-glasses-color: oklch(63.465% 0.25397 16.543);
}

[data-theme="dark"] {
  --background-main: var(--cornflower-blue-950);
  --background-cell-color: oklch(72.283% 0.13683 225.576 / 0.12);
  --start-modal-background: var(--cornflower-blue-900);
  --start-modal-border-color: var(--color-cyan-800);
  --start-title-color: var(--color-white);
  --tabs-background: var(--cornflower-blue-950);
  --tabs-border-color: var(--color-cyan-700);
  --tab-text-color-cyan: var(--color-cyan-500);
  --tab-text-color-pink: var(--color-pink-500);
  --tab-text-hover-color-cyan: var(--hover-color-cyan-200);
  --tab-text-hover-color-pink: var(--hover-color-pink-200);
  --tab-active-text-color-cyan: var(--color-white);
  --tab-active-text-color-pink: var(--color-white);
  --tab-active-background-cyan: var(--color-cyan-700);
  --tab-active-background-color-pink: var(--color-pink-700);
  --form-title-color: var(--color-white);
  --form-section-title-color: var(--color-slate-500);
  --form-message-cyan: var(--color-cyan-500);
  --form-message-pink: var(--color-pink-500);
  --input-label-color: var(--color-white);
  --input-text-color: var(--color-slate-300);
  --input-border-color-cyan: var(--color-cyan-600);
  --input-shadow-color-cyan: var(--color-cyan-500);
  --input-focus-shadow-color-cyan: var(--color-cyan-600);
  --input-border-color-pink: var(--color-pink-600);
  --input-shadow-color-pink: var(--color-pink-500);
  --input-focus-shadow-color-pink: var(--color-pink-600);
  --input-disabled-background: var(--cornflower-blue-950);
  --input-disabled-text-color: var(--color-slate-600);
  --input-background: var(--cornflower-blue-900);
  --button-background-cyan: var(--color-cyan-700);
  --button-hover-background-gradient-start-cyan: var(--color-cyan-400);
  --button-hover-background-gradient-end-cyan: var(--color-cyan-700);
  --button-hover-background-cyan: var(--btn-hover-color-cyan);
  --button-background-pink: var(--color-pink-700);
  --button-hover-background-gradient-start-pink: var(--color-pink-400);
  --button-hover-background-gradient-end-pink: var(--color-pink-700);
  --button-hover-background-pink: var(--btn-hover-color-pink);
  --form-message-base-color: var(--color-white);
  --button-default: var(--color-slate-700);
  --button-default-text-color: var(--color-slate-500);
  --panel-text-color-default: var(--color-white);
  --panel-text-color-cyan: var(--color-cyan-500);
  --panel-text-color-pink: var(--color-pink-500);
  --card-border-color-cyan: var(--color-cyan-600);
  --card-border-color-pink: var(--color-pink-700);
  --card-shadow-color-green: var(--color-green-light);
  --card-border-color-green: var(--color-green-light);
  --card-available-background: oklch(87.438% 0.2385 150.422 / 0.373);
  --card-text-color-green: var(--color-green-light);
  --card-empty-border-color: var(--color-cyan-600);
  --card-empty-background: var(--cornflower-blue-950);
  --card-default-background: oklch(0.32 0.06208 280.961);
  --card-default-gradient-start: oklch(0.22 0.09938 278.779);
  --card-default-gradient-end: oklch(0.36 0.05804 248.867);
  --card-default-before-radial-gradient: oklch(0.7 0.3226 328.352 / 0.251);
  --card-default-after-gradient-start: oklch(0.75 0.24727 327.655 / 0.153);
  --card-default-after-gradient-middle: oklch(0.9 0.15458 194.807 / 0.475);
  --card-default-after-gradient-end: oklch(0.96 0.21094 109.783 / 0);
  --card-lock-background: oklch(35.315% 0.14492 29.223 / 0.606);
  --modal-text-color: var(--color-white);
  --button-theme-border-color: var(--color-cyan-800);
  --button-theme-background: var(--cornflower-blue-950);
  --button-theme-icon-color: var(--color-pink-600);
  --button-closed-background-cyan: var(--cornflower-blue-950);
  --button-closed-icon-color-cyan: var(--color-cyan-500);
  --button-closed-hover-background-cyan: var(--color-cyan-500);
  --button-closed-shadow-color-cyan: var(--color-cyan-500);
  --button-toogle-on-background: var(--color-cyan-500);
  --button-toogle-on-shadow-color: var(--color-cyan-500);
  --player-background-glass: var(--glass-background);
  --winner-background-glass: var(--glass-background-light);
  --winner-text-color-cyan: var(--color-cyan-400);
  --winner-text-color-pink: var(--color-pink-400);
  --icon-hacker-color: oklch(0.75 0.12785 258.173);
  --icon-robot-color: oklch(0.9 0.13799 196.746);
  --icon-chip-color: oklch(0.92 0.038 9.653);
  --icon-gun-color: oklch(0.95 0.21554 114.604);
  --icon-hologram-color: oklch(0.87 0.24488 149.273);
  --icon-flask-color: oklch(0.78 0.17154 318.848);
  --icon-qr-code-color: oklch(0.75 0.17907 58.273);
  --icon-vr-glasses-color: oklch(0.66 0.22801 7.333);
}

body {
  background-color: var(--background-main);
  background-image: linear-gradient(var(--background-cell-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--background-cell-color) 1px, transparent 1px);
  background-size: var(--cell-size) var(--cell-size);
  font-family: var(--font-orbitron);
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/orbitron/Orbitron-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/orbitron/Orbitron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/dm-sans/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/dm-sans/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/exo-2/Exo2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/exo-2/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
