.state-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  align-self: center;
  width: clamp(300px, calc(400 * 100vw / var(--base-viewport-size)), 500px);
  background-color: oklch(0.5 0.09372 232.208 / 0.195);
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid rgba(3, 97, 132, 0.195);
}

.text {
  --minFontSize: 14px;
  --maxFontSize: 18px;
  --recommendFontSize: 16;
  --lineHeightRatio: var(--text-16px--line-height-ratio);
  color: var(--color-black);
}

.text__name {
  margin-left: 10px;
}

.name {
  --minFontSize: 16px;
  --maxFontSize: 20px;
  --recommendFontSize: 18;
  --lineHeightRatio: var(--text-18px--line-height-ratio);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--textColor, var(--color-black));
}

.name.name--cyan {
  --textColor: var(--color-cyan-700);
}

.name.name--pink {
  --textColor: var(--color-pink-700);
}
