.form-item {
  --lineHeightRatio: var(--text-16px--line-height-ratio);
  --minFontSize: 14px;
  --maxFontSize: 20px;
  --recommendFontSize: 16;

  text-transform: uppercase;
  color: var(--input-label-color);
  font-family: var(--font-exo-2);

  display: flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
}

.form-item[data-error-message]::after {
  position: absolute;
  content: attr(data-error-message);
  top: 100%;
  left: 0;
  font-size: 12px;
  line-height: 1.25em;
  color: var(--color-error);
  text-transform: none;
  z-index: 1;
  transition: all 2s ease;
}
