.player {
  --backgroundGlass: var(--player-background-glass);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: var(--radius);
  color: var(--textColor);

  background: var(--backgroundGlass);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--backgroundGlass);

  @media (width <= 850px) {
    order: 1;
  }
}

.player__name {
  --minFontSize: 14px;
  --maxFontSize: 20px;
  --recommendFontSize: 18;
  --lineHeightRatio: var(--text-18px--line-height-ratio);

  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.player--cyan {
  --textColor: var(--color-cyan-800);
}

.player--pink {
  --textColor: var(--color-pink-700);
}
