.game-piece-container {
  justify-items: center;
}

.game-piece {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  &_red {
    background-color: red;
  }
  &_black {
    background-color: black;
  }
  &:hover {
    cursor: pointer;
  }
}
