.avatar {
  width: clamp(70px, calc(150 * 100vw / var(--base-viewport-size)), 200px);
  border-radius: var(--radius);
  overflow: hidden;
}

.avatar__img {
  width: 100%;
  object-fit: cover;
}

.avatar__img--right {
  @media (width >= 850px) {
    transform: scale(-1, 1);
  }
}
