.notification {
  --maxWidth: 300px;
  --minFontSize: 16px;
  --maxFontSize: 20px;
  --recommendFontSize: 18;
  --lineHeightRatio: var(--text-20px--line-height-ratio);

  background-color: var(--start-modal-background);
  border-radius: var(--radius);

  padding: 15px;
  color: var(--modal-text-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: var(--maxWidth);
  min-width: 250px;
  overflow-x: hidden;
  overflow-y: hidden;

  transform: translateY(-100%);
  opacity: 0;

  transition: transform 0.5s ease, opacity 0.5s ease;

  pointer-events: auto;
}

.notification__text {
  margin-bottom: 10px;
}

.notification__button {
  position: absolute;
  top: 5px;
  right: 5px;
  align-self: end;
}

.notification--animated-enter {
  transform: translateY(0);
  opacity: 1;
}
