.game-field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: stretch;
  gap: 10px;

  @media (width <= 850px) {
    grid-row: span 2;
  }
}
