.card {
  width: var(--piece-size);
  height: var(--piece-size);
  padding: 5px;
  border-radius: var(--radius);
  background-color: var(--backgroundColor, var(--color-white));
  border: 1px var(--borderType) var(--borderColor, var(--color-black));
  box-shadow: 0 0 10px var(--shadowColor);

  text-transform: uppercase;
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  color: var(--textColor, var(--color-black));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(2n) {
    --borderType: solid;
    --borderColor: var(--card-border-color-cyan);
    --shadowColor:  var(--card-border-color-cyan);
  }

  &:nth-child(2n + 1) {
    --borderType: solid;
    --borderColor: var(--card-border-color-pink);
    --shadowColor: var(--card-border-color-pink);
  }
}

.card.card--empty {
  --borderType: dashed;
  --borderColor: var(--card-empty-border-color);
  --shadowColor: transparent;
  --backgroundColor: var(--card-empty-background);
  width: var(--target-card-size);
  height: var(--target-card-size);
}

.card.card--available {
  --borderColor: var(--color-green);
  --borderType: solid;
  --backgroundColor: var(--color-green-light);
  --shadowColor: var(--card-shadow-color-green);
  --textColor: var(--color-green);

  animation: pulse 2s infinite;
  transition: all;
}

.card.card--locked {
  --borderColor: var(--color-red);
  --borderType: solid;
  --backgroundColor: var(--color-red-light);
  --shadowColor: transparent;
  --textColor: var(--color-red-dark);
}

.card.card--targeted {
  --borderType: dashed;
  --borderColor: var(--color-cyan-700);
  --shadowColor: transparent;
  width: var(--target-card-size);
  height: var(--target-card-size);
}

@keyframes pulse {
  0%,
  100% {
    border-color: transparent;
    box-shadow: 0 0 5px transparent;
  }

  50% {
    border-color: var(--borderColor);
    box-shadow: 0 0 5px var(--shadowColor);
  }
}
