.button {
  --lineHeightRatio: var(--text-16px--line-height-ratio);
  --minFontSize: 14px;
  --maxFontSize: 20px;
  --recommendFontSize: 16;

  padding: 4px;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--backgroundColor);
  color: var(--textColor, --color-black);
  z-index: 1;

  position: relative;

  &:hover {
    background-color: var(--hoverBackgroundColor);
    box-shadow: 0 0 5px var(--hoverShadowColor);
  }
}

.button:not(.button--closed, .button--closed-notification) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      30deg,
      var(--hoverBackgroundGradientStartColor),
      var(--hoverBackgroundGradientEndColor)
    );
    border-radius: var(--radius);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.button--default {
  --backgroundColor: var(--button-default);
  --textColor: var(--button-default-text-color);
  --hoverBackgroundColor: var(--button-default);
  cursor: default;
}

.button--cyan {
  --backgroundColor: var(--button-background-cyan);
  --textColor: var(--color-white);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-cyan);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-cyan);
  --hoverShadowColor: var(--input-shadow-color-cyan);
}

.button--pink {
  --backgroundColor: var(--button-background-pink);
  --textColor: var(--color-white);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverShadowColor: var(--input-shadow-color-pink);
}

.button--closed {
  width: clamp(20px, calc(30 * 100vw / var(--base-viewport-size)), 40px);
  height: clamp(20px, calc(30 * 100vw / var(--base-viewport-size)), 40px);
  box-shadow: 0 0 4px var(--closeIconColor);
}

.button--closed-notification {
  width: clamp(18px, calc(20 * 100vw / var(--base-viewport-size)), 25px);
  height: clamp(18px, calc(20 * 100vw / var(--base-viewport-size)), 25px);
}

.button--closed,
.button--closed-notification {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 3px;
    height: 70%;
    border-radius: var(--radius);
    background-color: var(--closeIconColor);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover&::before,
  &:hover&::after {
    background-color: var(--hoverIconColor);
  }
}

.button--closed-cyan {
  --backgroundColor: var(--button-closed-background-cyan);
  --closeIconColor: var(--button-closed-icon-color-cyan);
  --hoverBackgroundColor: var(--button-closed-hover-background-cyan);
  --hoverShadowColor: var(--button-closed-shadow-color-cyan);
  --hoverIconColor: var(--color-white);
}

.button--closed-notification-cyan {
  --closeIconColor: var(--button-closed-icon-color-cyan);
  --hoverIconColor: var(--progressbar-close-icon-background);
}

.button--copy,
.button--check,
.button--clear {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 20px;
  height: 55%;

  mask-image: var(--svgIconPath);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  border: none;
}

.button--check {
  --svgIconPath: url("../../assets/icons/check.svg");
}

.button--copy {
  --svgIconPath: url("../../assets/icons/copy.svg");
}

.button--clear {
  --svgIconPath: url("../../assets/icons/close.svg");
}

.button--copy-cyan,
.button--check-cyan,
.button--clear-cyan {
  --backgroundColor: var(--button-background-cyan);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-cyan);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-cyan);
  --hoverBackgroundColor: var(--button-background-cyan);
}

.button--copy-pink,
.button--check-pink,
.button--clear-pink {
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}

.button--toggle-theme,
.button--hint {
  position: relative;
  mask-image: var(--svgIconPath);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 30px;
  height: 30px;
  background-color: var(--button-theme-icon-color);
}

.button--toggle-theme-light {
  --svgIconPath: url("../../assets/icons/sun.svg");
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}

.button--toggle-theme-dark {
  --svgIconPath: url("../../assets/icons/moon.svg");
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}

.button--hint {
  --svgIconPath: url("../../assets/icons/hint.png");
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
}
