.button {
  --lineHeightRatio: var(--text-16px--line-height-ratio);
  --minFontSize: 14px;
  --maxFontSize: 20px;
  --recommendFontSize: 16;

  padding: 4px;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);

  transition: var(--base-transition);

  background-color: var(--backgroundColor);
  color: var(--textColor, --color-black);

  &:hover {
    background-image: linear-gradient(
      30deg,
      var(--hoverBackgroundGradientStartColor),
      var(--hoverBackgroundGradientEndColor)
    );
    background-color: var(--hoverBackgroundColor);
    box-shadow: 0 0 5px var(--hoverShadowColor);
  }
}

.button--default {
  --backgroundColor: var(--button-default);
  --textColor: var(--button-default-text-color);
  --hoverBackgroundColor: var(--button-default);
  cursor: default;
}

.button--cyan {
  --backgroundColor: var(--button-background-cyan);
  --textColor: var(--color-white);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-cyan);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-cyan);
  --hoverShadowColor: var(--input-shadow-color-cyan);
}

.button--pink {
  --backgroundColor: var(--button-background-pink);
  --textColor: var(--color-white);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverShadowColor: var(--input-shadow-color-pink);
}

.button--closed {
  position: relative;

  width: clamp(20px, calc(30 * 100vw / var(--base-viewport-size)), 40px);
  height: clamp(20px, calc(30 * 100vw / var(--base-viewport-size)), 40px);
  box-shadow: 0 0 4px var(--closeIconColor);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 3px;
    height: 70%;
    border-radius: var(--radius);
    background-color: var(--closeIconColor);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover&::before,
  &:hover&::after {
    background-color: var(--color-white);
  }
}

.button--closed-cyan {
  --backgroundColor: var(--color-cyan-50);
  --closeIconColor: var(--color-cyan-700);
  --hoverBackgroundColor: var(--color-cyan-700);
  --hoverShadowColor: var(--color-cyan-700);
}

.button--copy,
.button--check {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 20px;
  height: 55%;

  mask-image: var(--svgIconPath);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  border: none;
}

.button--check {
  --svgIconPath: url("../../assets/icons/check.svg");
}

.button--copy {
  --svgIconPath: url("../../assets/icons/copy.svg");
}

.button--copy-cyan,
.button--check-cyan {
  --backgroundColor: var(--button-background-cyan);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-cyan);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-cyan);
  --hoverBackgroundColor: var(--button-background-cyan);
}

.button--copy-pink,
.button--check-pink {
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}

.button--toggle-theme {
  position: relative;
  mask-image: var(--svgIconPath);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 30px;
  height: 30px;
  background-color: var(--button-theme-icon-color);
}

.button--toggle-theme-light {
  --svgIconPath: url("../../assets/icons/sun.svg");
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}

.button--toggle-theme-dark {
  --svgIconPath: url("../../assets/icons/moon.svg");
  --backgroundColor: var(--button-background-pink);
  --hoverBackgroundGradientStartColor: var(--button-hover-background-gradient-start-pink);
  --hoverBackgroundGradientEndColor: var(--button-hover-background-gradient-end-pink);
  --hoverBackgroundColor: var(--button-background-pink);
}
