.piece-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius);
  padding: clamp(5px, calc(15 * 100vw / var(--base-viewport-size)), 15px);

  background: var(--glass-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--glass-background);

  @media (width <= 850px) {
    order: 2;
  }
}

.text {
  --minFontSize: 12px;
  --maxFontSize: 18px;
  --recommendFontSize: 16;
  --lineHeightRatio: var(--text-16px--line-height-ratio);

  font-weight: bold;
  color: var(--textColor);
}

.text--cyan {
  --textColor: var(--color-cyan-800);
}

.text--pink {
  --textColor: var(--color-pink-700);
}
