.start-page-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  min-height: 30vh;
  width: clamp(250px, 45vw, 45vw);

  background-color: var(--start-modal-background);
  font-family: var(--font-exo-2);

  border-radius: var(--radius);
  border: 1px solid var(--start-modal-border-color);
  box-shadow: var(--main-box-shadow);

  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, calc(50 * 100vw / var(--base-viewport-size)), 50px);

  @media (width <= 1155px) {
    width: clamp(250px, 60vw, 60vw);
  }

  @media (width <= 770px) {
    width: clamp(250px, 80vw, 80vw);
  }

  @media (width <= 580px) {
    width: clamp(250px, 90vw, 90vw);
  }
}

.title {
  --lineHeightRatio: var(--text-30px--line-height-ratio);
  --minFontSize: 20px;
  --maxFontSize: 40px;
  --recommendFontSize: 30;

  text-align: center;
  font-family: var(--font-orbitron);
  color: var(--start-title-color);
  font-weight: var(--font-weight-bold);
}

.title--upperline {
  position: relative;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 40%;
    height: 5px;

    background-image: linear-gradient(90deg, var(--color-cyan-500), var(--color-pink-500));
    border-radius: var(--radius);
  }
}

.start-page__theme-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
}

.typing-effect {
  width: 14ch;
  animation: typing 2s steps(14), blink-caret 0.75s step-end infinite 2s,
    final-hide 0.5s 4.5s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes blink-caret {
  0%,
  50% {
    border-color: currentColor;
  }
  51%,
  100% {
    border-color: transparent;
  }
}

@keyframes final-hide {
  to {
    border-color: transparent;
  }
}
