.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: var(--font-exo-2);
}

.tab-headers {
  --lineHeightRatio: var(--text-18px--line-height-ratio);
  --minFontSize: 14px;
  --maxFontSize: 22px;
  --recommendFontSize: 18;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding: 4px;

  border-radius: var(--radius);
  border: 1px solid var(--tabs-border-color);
  background-color: var(--tabs-background);

  text-transform: uppercase;

  color: var(--color-black);
}
