.form-section {
  &_ds-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(200, 10, 10);
  }
}

.items-block {
  display: flex;
  gap: 15px;

  &_ds-row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &_ds-column {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
