.tab {
  display: inline-block;
  padding: 2px 10px;

  text-align: center;
  width: 100%;

  border-radius: var(--radius);
  transition: var(--base-transition);
  color: var(--textColor, --color-black);
  background-color: var(--backgroundColor, --color-white);

  &:not(.tab--active):hover {
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
}

.tab--cyan {
  --textColor: var(--tab-text-color-cyan);
  --hoverBackgroundColor: var(--tab-text-hover-color-cyan);
}

.tab--pink {
  --textColor: var(--tab-text-color-pink);
  --hoverBackgroundColor: var(--tab-text-hover-color-pink);
}

.tab--cyan.tab--active {
  --backgroundColor: var(--tab-active-background-cyan);
  --textColor: var(--tab-active-text-color-cyan);
}

.tab--pink.tab--active {
  --backgroundColor: var(--tab-active-background-color-pink);
  --textColor: var(--tab-active-text-color-pink);
}

.tab__content {
  width: 100%;
}
