.controls {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: clamp(80px, calc(200 * 100vw / var(--base-viewport-size)), 200px);

  background-color: var(--panel-background);
  padding: clamp(5px, calc(10 * 100vw / var(--base-viewport-size)), 10px);
  border-radius: var(--radius);
  border: 1px solid var(--panel-border-color);
}
