.close-btn {
  position: absolute;
  top: 5px;
  right: 0;

  &::before, &::after {
    content: "";
    position: absolute;
    top: inherit;
    right: inherit;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(235, 68, 68);
    transition: all .3s ease-in;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover.close-btn::before {
    transform: rotate(-45deg);
    background-color: grey;
  }

  &:hover.close-btn::after {
    transform: rotate(45deg);
    background-color: grey;
  }
}
