.game-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: clamp(10px, calc(20 * 100vw / var(--base-viewport-size)), 20px);
  gap: clamp(20px, calc(30 * 100vw / var(--base-viewport-size)), 40px);
  width: 100vw;
  position: relative;

  @media (width <= 1370px) {
    gap: clamp(20px, calc(80 * 100vw / var(--base-viewport-size)), 80px)
  }
}

.game-field-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;

  @media (width <= 850px) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    justify-content: start;
    column-gap: 50px;
  }

  @media (width <= 615px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
}
