.loader--dot {
  --backgroundColorStart: var(--color-cyan-600);
  --backgroundColorEnd: var(--color-pink-600);
  --dotMargin: clamp(10px, calc(12 * 100vw / var(--base-viewport-size)), 12px);
  --dotSize: clamp(8px, calc(10 * 100vw / var(--base-viewport-size)), 10px);
  width: var(--dotSize);
  height: var(--dotSize);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: var(--backgroundColorStart);
  box-shadow: calc(0px - var(--dotMargin)) 0 var(--backgroundColorStart),
    var(--dotMargin) 0 var(--backgroundColorStart);
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: var(--backgroundColorStart);
    box-shadow: calc(0px - var(--dotMargin)) 0 var(--color-pink-700),
      var(--dotMargin) 0 var(--backgroundColorStart);
  }
  66% {
    background: var(--backgroundColorEnd);
    box-shadow: calc(0px - var(--dotMargin)) 0 var(--backgroundColorStart),
      var(--dotMargin) 0 var(--backgroundColorStart);
  }
  100% {
    background: var(--backgroundColorStart);
    box-shadow: calc(0px - var(--dotMargin)) 0 var(--backgroundColorStart),
      var(--dotMargin) 0 var(--backgroundColorEnd);
  }
}
