.toggle-wrapper {
  --backgroundColor: var(--button-theme-background);
  background: none;
  border: 1px solid var(--button-theme-border-color);
  border-radius: var(--radius);
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  z-index: 100;

  &:hover {
    box-shadow: 0 0 5px var(--input-shadow-color-cyan);
  }
}

.toggle-wrapper--on {
  --backgroundColor: var(--button-toogle-on-background);
  box-shadow: 0 0 5px var(--button-toogle-on-shadow-color);
}
